.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 91vh;
    z-index: 2;
}
.form-group input {
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 12px;
    border: 1px solid;
    width: 100%;
}
.form-group textarea {
    padding: 3rem;
    border-radius: 12px;
    width: 100%;
    margin: 1rem;
}
.form-group button {
    color: white;
    width: 100%;
    padding: 1rem;
    border-radius: 12px;
    background-color: goldenrod;
    border: none;
    transition: all 1s;
}
.form-group button:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 1s;
}