.order {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: black;
    color: white;
    width: 100%;
}

.menu h1 {
    color: darkgoldenrod;
    text-align: center;
}

.categouries {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 12px;
    background-color: darkgoldenrod;
    max-width: 180px;
    width: 100%;
    margin: 0.5rem;
}
.item img {
    height: 150px;
    width: 200px;
}
.btnn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.btnn button {
    border-radius: 12px;
    border: none;
    padding: 0.5rem;
}

.btn-veg {
    background-color: green;
    color: white;
    transition: all 0.5s;
}
.btn-non-veg {
    background-color: red;
    color: white;
    transition: all 0.5s;
}
.btn-veg:hover {
    scale: 1.1;
    transition: all 0.5s;
    cursor: pointer;
}
.btn-non-veg:hover {
    scale: 1.1;
    transition: all 0.5s;
    cursor: pointer;
}
.cart {
    position: fixed;
    bottom: 0;
    left: 5px;
    width:15rem;
    max-height: calc(100vh - 40px); /* Adjust the height as needed */
    background-color: #f1f1f1;
    padding: 10px;
    overflow-y: auto; 
    border-radius: 12px;
    margin: 1rem;
}
.cart h2 {
    margin-top: 0;
    text-align: center;
}
.cart ul {
    list-style: none;
  padding: 0;
}
.cart li {
    display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.cart button {
    background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
.cart button:hover {
    background-color: #ff463a;
}